html{
    -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}


.banner {
    margin: 0 auto;
    margin-top: 3%;
    background-color: antiquewhite;
    width: 823px;
    height: 405px;
    animation: banneranimation 8s infinite;
    animation-timing-function: linear;
   
}



.banner img{
    object-fit: cover;
    border-radius: 5px;
}

body{
    background-image: url("backgrounddesejo.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    color: rgb(82, 82, 82);
    
    
}

main{
    filter: brightness(50%) blur(2px);
    transition: 0.3s;
    
  
}

.buttons{
 margin: auto;
 background-color: red;
 margin-top: 75px;
 width: 80%;
 
}

.left{
    justify-content: center;
    text-align: center;
    float: left;
    margin-left: 55px;
    margin-top: -15px;
}

.right{
    justify-content: center;
    text-align: center;
    float: right;
    margin-right: 55px;
    margin-top: -15px;
}

button{
    border: none;
    border-radius: 15px;
    background-color: rgb(250, 249, 249);
    padding: 7px;
    text-align: center;
    width: 120px;
    font-size: 18px;
    color: rgb(82, 82, 82);
    font-family: sans-serif;
    font-weight: 600;
    cursor: pointer;
    margin: 8px;
}

.banners{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
    flex-direction: row;
    justify-items: center;
    gap: 25px;

}

.pity{
    color: rgb(82, 82, 82);
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    margin-left: 150px;
    
    
    
    

}

label{
    margin-right: 25px ;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    padding: 8px;
}

.banners img{
    cursor: pointer;
}

.banners h1{
    color: rgb(245, 162, 53);
}


.fragmentos{
   font-size: 12px;
   color: white;
    background-color: rgb(68, 68, 68);
    border-radius: 15px;
    width: 120px;
    height: 30px;
    margin: 0px;
    text-align: center;
    
    
    
    
}

.orbes{
   font-size: 12px;
   color: white;
    background-color: rgb(68, 68, 68);
    border-radius: 15px;
    width: 120px;
    height: 30px;
    margin: 0px;
    text-align: center;
    margin-left: -25%;
    
}

.orbes h2{
margin-top: 5px;
}

.fragmentos h2{
margin-top: 5px;
}

.modal{
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    justify-content: center;
    gap: 15px;
    visibility: visible;
    background-image: url("backgroundgacha.png");
    background-size: cover;
    background-repeat: no-repeat;
    
   
}

.modal div{
    background-color: rgb(49, 49, 49);
    width: 100px;
    height: 279px;
    margin-top: 15%;
    border-radius: 10px; 
    align-items: center;
    vertical-align: middle;
    filter: brightness(100%);
    background-image: url("itembackground.svg");
    background-size: cover;
    cursor: pointer;
    
    
}

.modal div:hover{
 transform: scale(1.2);
 transition: 0.3s;
}





.modal div img{
    width: 100px;
    height: 279px;
    border-radius: 10px;
    object-fit: cover;
}

.item{
    width: 100%;
    object-fit: cover;
    
}

.fa-circle-xmark{
    left: 93%;
    top: 5%;
    position: absolute;
    cursor: pointer;
    color: white;
    font-size: 35px;
}

.fa-circle-xmark:hover{
   filter: brightness(80%);
}


.modalvideo{
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    visibility: hidden;
    overflow: hidden;
    
    
}

.modalvideo2{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    visibility: hidden;
    overflow: hidden;
    cursor: default;
    
    
}

.modalvideo3{
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    visibility: hidden;
    overflow: hidden;
    
    
}

video{
  width: 100%;
  
}

#modalvideo p{
    z-index: 1;
    position: absolute;
    font-size: 25px;
    margin-left: 85%;
    background-color: white;
    border-radius: 50px;
    padding: 3px;
    padding-right: 8px;
    padding-left: 8px;
    font-family: sans-serif;
    width: 100px;
    text-align: center;
    font-weight: 600;
    color: rgb(70, 70, 70);
    cursor: pointer;
    
   
    
}

#modalvideo2 p{
    z-index: 1;
    position: absolute;
    font-size: 25px;
    margin-left: 85%;
    background-color: white;
    border-radius: 50px;
    padding: 3px;
    padding-right: 8px;
    padding-left: 8px;
    font-family: sans-serif;
    width: 100px;
    text-align: center;
    font-weight: 600;
    color: rgb(70, 70, 70);
    cursor: pointer;
   
    
}

#modalvideo3 p{
    z-index: 1;
    position: absolute;
    font-size: 25px;
    margin-left: 85%;
    background-color: white;
    border-radius: 50px;
    padding: 3px;
    padding-right: 8px;
    padding-left: 8px;
    font-family: sans-serif;
    width: 100px;
    text-align: center;
    font-weight: 600;
    color: rgb(70, 70, 70);
    cursor: pointer;
   
    
}

.dialog{
   
    font-family: sans-serif;
    width: 550px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    color: white;
    text-shadow: 1px 1px 1px rgb(82, 82, 82);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    text-align: center; 
   background-size: cover;
   border-radius: 5px;
    font-size: 15px;
    animation: popup 0.8s;
    background-image: url(popupbackground.png);
    

}

.dialog button{
    background-color: rgb(53, 53, 53);
    color: white;
    border: none;
    border-radius: 50px;
    margin-top: 35px;
    height: 35px;
    margin-left: 200px;
    width: 150px;
    display: flex;
    padding: 5px;
    align-items: center;
    
    
}

.dialog img:nth-child(1){
   margin-left: 8px;
   margin-right: 5px;
}

#characters{
 margin-left: -5px;
 margin-top: 12px;
}

.dialog h1{
    margin-bottom: 45px;
}

button:hover{
 background-color: rgb(223, 216, 189);
 transition: 0.3s;
 
}



@-webkit-keyframes popup {
    from { opacity: 0; top: 40%; }
  to   { opacity: 1; top: 50%;  }
}


@media (min-width: 1400px){

    .banner {
        margin: 0 auto;
        margin-top: 3%;
        background-color: antiquewhite;
        width: 823px;
        height: 405px;
        animation: banneranimation 8s infinite;
        animation-timing-function: linear;

       
    }



}

